.date,.direc,.luck,.operator,.evs,.d-item{
    font-size:16px;
    margin:20px 10px
}
.direction{
    color:green;
    font-weight:500;
}
.luck1{
    color:lightslategray;
}
.luck2{
    color:yellowgreen;
}
.luck3{
    color:lightskyblue;
}
.luck4{
    color:slateblue;
}
.luck5{
    color:gold;
}
.luck6{
    color:orangered;
}
.op{
    color:midnightblue;
    font-weight:500;
}
.ev{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin:0;
}
.ev-l{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    text-align:center;
    font-size:18px;
    font-weight:700;
}
.ev-name{
    font-size:16px;
    font-weight:700;
}
.ev-desc{
    font-size:13px;
}
.ev-list{
    flex:2;
    flex-grow:5;
    flex-shrink:1;
    flex-basis:0%;
    background:rgba(255,255,255,0.6);
    margin:0;
    padding:8px 8px;
}
.good{
    background:linear-gradient(to right,rgba(29,146,255,0.6),rgba(0,0,0,0));
    border-radius:3px 0 0 0;
}
.bad{
    background:linear-gradient(to right,rgba(235,80,80,0.6),rgba(0,0,0,0));
    border-radius:0 0 0 3px;
}
.ev-name,.ev-desc{
    margin:0;
}
.ev-desc{
    font-size:11px;
}
.ev-item{
    margin-top:10px;
    margin-bottom:10px;
}
.d-r{
    font-size:16px;
    display:flex;
    align-items:center
}
.d-res{
    width:48px;
    margin-right:0
}
.d-chip{
    margin-right:-20px
}
.act-name{
    font-weight:600;
    color:darkslategrey
}
.op-bir{
    color:slateblue;
    text-shadow:0 0 1px
}
.g-item{
    font-size: 14px;
    margin-left: 12px;
}
.g-more{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.g-time{
    font-size: 12px;
    margin: 5px 0 8px 12px;
}
.pool-lim{
    color:rebeccapurple;
    font-weight: 600;
    text-shadow: 0px 0px 1.2px;
}
.pool-rt{
    color:rgb(67, 26, 110);
    font-weight: 600;
}
